font {
margin:0;
padding:0;
}
         
.carousel img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}      

.carousel img.active {
    opacity: 1;
}
